<div class='container'>
  <div class='row'><br><br>
     <h1 class='text-center' style="color:#5bc0de;">Enter your new Password</h1>
    <div class='col-sm-4 col-sm-offset-4'>
      <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
        <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        <div class="form-group"><%= f.submit "Update Password", class: "btn btn-info" %></div>
      <% end %>
    </div>
  </div>
  
</div>