<div class='container'>
<div class='row'>
<div class='col-md-7'>

<%= form_for(@idea) do |f| %>
  <%= render "shared/errors", object: @idea %>
  <div class='form-horizontal' role='form'>
  <div class="form-group">

  <div class='row'>
  <div class='col-md-3'>
        <%= f.label :title, "Project Title:", class: 'control-label' %></div>
        <div class='col-md-9'>
        <%= f.text_field :title, autofocus: true, class: "form-control" %>
      </div></div><br>
      <div class='row'>
      <div class='col-md-3'>
        <%= f.label :description, class: 'control-label' %></div>
        <div class='col-md-9'>
        <%= f.text_area :description, cols: 40, rows: 7, class: "form-control tinymce" %>
      </div></div><br>
      <div class='row'>
      <div class='col-md-3'>
        <%= f.label :goal, class: 'control-label' %></div>
        <div class='col-md-9'>
        <%= f.select :goal, Idea::GOAL, prompt: "Select One", class: 'form-control' %>
      </div></div><br>
      <div class='row'>
      <div class='col-md-3'>
        <%= f.label :market, 'Market Potential', class: 'control-label' %></div>
        <div class='col-md-9'>
       <%= f.select :market, Idea::MARKET, prompt: "Select One", class: 'form-control' %>
      </div></div><br>
      <div class='row'>
      <div class='col-md-3'>
        <%= f.label :category, class: 'control-label' %></div>
        <div class='col-md-9'>
        <%= f.select :category, Idea::CATEGORY, prompt: "Select One", class: 'form-control' %>
      </div></div>


    <div class='row'><br>
    <div class='col-md-3'></div>
    <div class='col-md-5'>
      <%= f.submit class: "btn btn-info" %>
      <%= link_to "Cancel", ideas_path, class: "btn btn-default" %>
    </div></div>
<% end %>
<div class='col-md-5'></div>
</div>
</div>
</div>
