<article id="idea" class="idea">
  <header>
    <h1><%= @idea.title %></h1>
  </header>

  <p>
    <%= @idea.description %>
  </p>

  <h3>Market Potential</h3>
  <p>
    <%= @idea.market %>
  </p>

  <h3>Goal</h3>
  <p>
    <%= @idea.goal %>
  </p>

  <h3>Category</h3>
  <p>
    <%= @idea.category %>
  </p>


    <nav>

      <%= link_to 'Edit', edit_idea_path(@idea), class: 'button' %> |
      <% if current_user_admin? %>
      <%= link_to 'Delete', @idea,
                  class: 'button',
                 method: :delete, data: { confirm: 'Are you sure?' } %>

      <% end %>
    </nav>
    <%= link_to pluralize(@idea.checkins.size, "Developer has Check-In"), idea_checkins_path(@idea) %> |
<%= link_to "Apply to Check-In", new_idea_checkin_path(@idea),
             class: 'button ok checkin' %>



</article>
