<div class="container">
<div class='row'>
<article>
<div class='col-md-8'>
<div id="idea" class="idea">
  <header>
    <h1><%= @idea.title %></h1>
  </header>

  <p>
    <%= @idea.description %>
  </p>

  <h3>Market Potential</h3>
  <p>
    <%= @idea.market %>
  </p>

  <h3>Goal</h3>
  <p>
    <%= @idea.goal %>
  </p>

  <h3>Category</h3>
  <p>
    <%= @idea.category %>
  </p>
</div>
</div>
<div class='col-md-4'>
<br>
    <nav>

     <% if current_user %>
      <%= link_to 'Edit', edit_idea_path(@idea), class: "btn btn-warning" %>&nbsp
      <%= link_to "All Startup Idea", ideas_path, class: 'btn btn-primary' %>
      <%= link_to 'Post New Startup Idea', new_idea_path, class: 'btn btn-success' %>
      <% end %>
      <% if current_user_admin? %>
      <%= link_to 'Delete', @idea,
                  class: 'btn btn-danger',
                 method: :delete, data: { confirm: 'Are you sure?' } %>

      <% end %>
    </nav><br>
    <p><%= link_to "Apply to Check-In", new_idea_checkin_path(@idea),
             class: "btn btn-primary btn-lg" %></p>
    <%= link_to pluralize(@idea.checkins.size, "Developer has Check-In"), idea_checkins_path(@idea), class: "btn btn-info btn-lg" %>

</div>
</article>
</div>
</div>

