<div class="container">
<div class='row'><br><br>
<div class='col-md-1'></div>
<div class='col-md-7 well'>
<div id="idea" class="idea">
  
    <h1><%= @idea.title %></h1>
 

  <p>
    <%= @idea.description %>
  </p>

  <div class="table-responsive">
 <table class="table table-hover">
  
  <tr>
  <div class='col-md-4'>
  <th>
  <h5>Market Potential:</h5> 
  </th>
  </div>
  <div class='col-md-8'>
  <td>
   <%= @idea.market %>
  </td>
  </div>
  </tr>

  <tr>
  <div class='col-md-4'>
  <th>
  <h5>Goal</h5> 
  </th>
  </div>
  <div class='col-md-8'>
  <td>
   <%= @idea.goal %>
  </td>
  </div>
  </tr>

  <tr>
  <div class='col-md-4'>
  <th>
  <h5>Category</h5> 
  </th>
  </div>
  <div class='col-md-8'>
  <td>
   <%= @idea.category %>
  </td>
  </div>
  </tr>

  </table>
  </div>
 
 
</div>
</div>
<div class='col-md-3'>
<br>
  

     
    <p>If you are interested to paticipate in any form on<br> <%= link_to "Apply to Check-In", new_idea_checkin_path(@idea)
             %></p>

    <% if current_user %>
    <%= link_to 'Post Your Startup Idea', new_idea_path %><% end %><br>
    <%# link_to pluralize(@idea.checkins.size, "Developer has Check-In"), idea_checkins_path(@idea), class: "btn btn-info btn-lg" %>
    <p><h3><%= pluralize(@voters.size, "Vote") %></h3></p>
    <% if current_user %>
      <% if @current_vote %>
      <%= button_to "Unvote", idea_vote_path(@idea, @current_vote), class: 'btn btn-default btn-lg', method: :delete %>
      <% else %>
    <%= button_to "Vote", idea_votes_path(@idea), class: 'btn btn-info btn-lg' %>
    <% end %>
    <% end %>
    <% if @votes.try(:any?) %>
    <h4>Voters</h4>
    <% @voters.each do |user| %>
    <%= links_to user.name, user %>
    <% end %>
    <% end %><br>

    <% if current_user %>
      <%= link_to 'Edit', edit_idea_path(@idea), class: "btn btn-warning" %>
    
      
      <% end %>
      <% if current_user_admin? %>
      <%= link_to 'Delete', @idea,
                  class: 'btn btn-danger',
                 method: :delete, data: { confirm: 'Are you sure?' } %>

      <% end %>
    
</div>
<div class='col-md-1'></div>
</div>
</div>

