
<%= form_for(@user) do |f| %>
  <%= render "shared/errors", object: @user %>

      <div class="form-group">
        <%= f.text_field :name, size: 50, autofocus: true, placeholder: "Your Full Name", class: "form-control" %>
      </div>

      <div class="form-group">
          <%= f.text_field :username, size: 50,
                    placeholder: "Username Alphanumeric characters only!", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, size: 50, placeholder: "Email Address", class: "form-control" %>
      </div>

     <div class="form-group">
        <%= f.password_field :password, size: 50, placeholder: "Password 8 or more characters", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, size: 50, placeholder: "Confirm Password", class: "form-control" %>
      </div>

      <div class="form-group">
        <% if @user.new_record? %>
          <%= f.submit "Create Account", class: "btn btn-info" %>
        <% else %>
          <%= f.submit "Update Account", class: "btn btn-info" %>
        <% end %>
      </div>
<% end %>
