<div class='row'>
<div class='small-8 large-centered columns'>

<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><%= link_to 'Dashboard', current_user %></dd>
  <dd><%= link_to 'Profile', profile_path(current_user)
                   %></dd>
  <dd><%= link_to 'Add Listings', new_listing_path %></dd>
  <dd><%= link_to 'Create Post', new_blog_path %></dd>
  <dd><%= link_to 'All Listings', listings_list_path %></dd>
</dl>
</div></div>

<div class='row profile'>

<!-- <div class='medium-4 columns'> -->
<ul class="tabs vertical medium-4 columns" data-tab><br>
<% if image_tag @user.avatar.url.nil? %>
<%= profile_image_for@user, size: 250 %>
    
    <% else %>
    <%= image_tag @user.avatar.url(:small) %>
    <% end %>
  <li class="tab-title active"><a href="#panel1a">Edit Profile</a></li>
  <li class="tab-title"><a href="#panel2a">Video</a></li>
  <li class="tab-title"><a href="#panel3a">Profile</a></li>
  
</ul>
<!-- <div class='medium-8 columns'> -->
<div class="tabs-content vertical medium-8 columns">

  <div class="content active" id="panel1a">
    <p><%= form_for(@user) do |f| %>
  <%= render "shared/errors", object: @user %>
   <fieldset>
    
      <p>
        <%= f.label :sex %>
         <%= f.select :sex, User::SEX, prompt: "Select One" %>
      </p>
      </p>
      <p>
          <%# f.label :birthdate %>
          <%# f.datetime_select :birthdate %>
     </p>

      <p>
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, size: 40 %>
      </p>
      <p>
        <%= f.label :where_you_live %>
        <%= f.text_field :where_you_live, size: 40 %>
      </p>
      <p>
        <%= f.label :marital_status %>
        <%= f.select :marital_status, User::MARITAL_STATUS, prompt: "Select One" %>
      </p>
      <p>
        <%= f.label :school %>
        <%= f.text_field :school, size: 40 %>
      </p>
      <p>
        <%= f.label :work %>
        <%= f.text_field :work, size: 40 %>
      </p>
      <p>
        <%= f.label :info, 'Describe Yourself' %>
        <%= f.text_area :info, size: 40 %>
      </p>
      <p>
        <%= f.label :avatar %>
        <%= f.file_field :avatar, size: 40 %>
      </p>
      <p>
        <%= f.label :video %>
        <%= f.text_field :video, size: 40, placeholder: 'Enter Youtube video id e.g "BxRQNO8vg2Y"' %>
      </p>
      
  
    <p>
      
    
        <%= f.submit "Update Profile", class: 'button' %>
     
    </p>
  </fieldset>
<% end %></p>
  </div>
  <div class="content" id="panel2a">
    <p><iframe width="750" height="450" src="//www.youtube.com/embed/<%= @user.video %>" frameborder="0" allowfullscreen></iframe>
</p>
  </div>
  <div class="content" id="panel3a">
    <p><div class='row'>
  <div class='medium-12 columns'>
  
<table class='user_profile2'>
  <tr>
  <th></th>
    <td><h3><%= @user.name %></h3></td>
  </tr>
  <tr>
    <th>Email:</th>
    <td><%= mail_to(@user.email) %></td>
  </tr>
  <tr>
    <th><h4>Member Since</h4></th>
    <td><%= @user.created_at.strftime("%B %Y") %></td>
  </tr>
  <tr>
    <th>Phone No:</th>
    <td><%= @user.phone_number %></td>
  </tr>
  <tr>
    <th>School Attended</th>
    <td><%= @user.school %></td>
  </tr>
  <tr>
    <th>Professional</th>
    <td><%= @user.work %></td>
  </tr>
  <tr>
    <th>Work Place</th>
    <td><%= @user.work %></td>
  </tr>
  <tr>
    <th>Your Location</th>
    <td><%= @user.where_you_live %></td>
  </tr>
  <tr>
    <th>About</th>
    <td><%= @user.info %></td>
  </tr>
</table></p>
  </div>
  
</div>




<!-- </div> -->
</div>