<div class="container">
<div class="row">

<div class='col-md-3 tips'>
<h1><%= @trend.title %></h1><br>
<div class='row'>
<div class='col-md-3'>
<%= profile_image_for @trend.user, size: 40 %></div>
<div class='col-md-9'>By: 
<%= link_to @trend.user.name, @user %></div></div><br>
<% if @trend.twitter_url %>
<div class='row'>
<div class='col-md-12'>
<%= link_to 'Follow me on Twitter', @trend.twitter_url, :target => "_blank", class: 'fa fa-twitter' %></div></div>
<div class='row'>
<div class='col-md-12'>
Posted <%= time_ago_in_words(@trend.created_at) %> ago</div></div>
<% else %>
<div class='row'>
<div class='col-md-12'>
Posted <%= time_ago_in_words(@trend.created_at) %> ago</div></div><% end %>
<br>
<div class='row'>
<div class='col-md-12'>
<%= social_share_button_tag truncate(@trend.title, length: 60)%><br>
<% if current_user_admin? %>

  <%= link_to "Edit", edit_trend_path(@trend), class: 'btn btn-info' %>
  
  <%= link_to "Delete", trend_path(@trend), method: :delete, data: {confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>
</div></div><br>
<div class='row'>
<div class='col-md-12'>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- App -->
<ins class="adsbygoogle"
     style="display:inline-block;width:250px;height:250px"
     data-ad-client="ca-pub-1207389406711656"
     data-ad-slot="3214716793"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>

</div>
</div>
<br>
<div class='col-md-8 tips'>
<span><%= @trend.content %><br></span>
<br>
<h4><%= link_to " Source ", @trend.source_url, :target => "_blank", class: 'fa fa-archive' %></h4>
</div>

</div></div>






