<div class='jumbotron'>
	<div class='home-top'>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-6'>
					<div class='home-left'>
						<h1 class='hidden-xs'>App Development Business Network</h1>
						<div class='row'>
							<div class='col-xs-2'>
								<i class='fa fa-group fa-4x img-responsive'></i>
							</div>
							<div class='col-xs-10'>
								<p>Connect with thousand of developers and entrepreneurs </p>
							</div>
						</div>
						<div class='row'><br>
							<div class='col-xs-2'>
								<i class='fa fa-share-alt fa-4x img-responsive'></i>
							</div>
							<div class='col-xs-10'>
								<p>Share and search for startup ideas</p>
							</div>
						</div>
						<div class='row'><br>
							<div class='col-xs-2'>
								<i class="fa fa-external-link fa-4x"></i>
							</div>
							<div class='col-xs-10'>
								<p>Discover opportunities</p>
							</div>
						</div>
					</div>
				</div>
				<div class='col-sm-1'></div>
				<div class='col-sm-5'>
					<div class='home-login'>
						<ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" class="active"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Sign Up</a></li>
					    <li role="presentation"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Log In</a>
					    </li>
					  </ul>

					 	<div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="signup">
					    	<%= render "users/form" %>
					    </div>
					    <div role="tabpanel" class="tab-pane" id="login">
					    	<%= form_tag(session_path) do %>
								
									      <div class="form-group">
									        <%= text_field_tag :email, nil, required: true, autofocus: true, size: 40, placeholder: "Email or Username", class: 'form-control' %>
									      </div>
									      <div class="form-group">
									        <%= password_field_tag :password, nil, required: true, size: 40, placeholder: "Password", class: 'form-control' %>
			    				      </div>
			    				      <p><%= link_to "forgotten_password?", new_password_reset_path %></p>

				                <div class="form-group">
				                  <%= check_box_tag :remember_me, 1, params[:remember_me] %>
				                  <%= label_tag :remember_me %>
				                </div>
									    	<div class="form-group">
									      <%= submit_tag 'Sign In', class: 'btn btn-danger' %>
									    	</div>
									  </fieldset>
								<% end %>
							</div>					    
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='home-projects'>
	<div class='container'>
		<div class='row projects'>
			<h1 class='text-center'><%= link_to "Recent Projects", projects_path %></h1><br>
			<% @projects.each do |project| %>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail project">
						<%= image_tag project.screenshot.url %>
					</div>
				</div>
	<% end %>	
</div>
	</div>
</div>

<div class='home-ideas'>
	<div class='container'>
		<div class='row ideas'>
			<h1 class='text-center'><%= link_to "Startup Tips and Ideas", ideas_path %></h1>
				<div class="col-md-1"></div>
			
				<div class="col-md-10 col-sm-12">
					<div class='row'>
						<% @ideas.each do |idea| %>
					    <div class="col-sm-6">
					    	<h2><%= link_to(idea.title, idea) %></h2>
								<p><%= truncate(idea.description, length: 200, separator: ' ') %></p>
					    </div>
				    <% end %>	
				  </div>
				</div>
				<div class="col-md-1"></div>
			
		</div>
	</div>
</div>
<div class='home-trends'>
	<div class='container'>
		<div class='row trends'>
		 	<h1 class='text-center'><%= link_to "Latest Tips and Insights", trends_path %></h1><br>
			<div class="col-md-1"></div>
		
			<div class="col-md-10 col-sm-12">
				<% @trends.each do |trend| %>
				<div class='row'>
					<div class="col-sm-3">
						<%= image_tag trend.upload.url, class: "img-responsive" %>
					</div>
					<div class="col-sm-9">
						<div class='row'>
							<div class="col-xs-12">
								<h2><%= link_to trend.title, trend %></h2>	
							</div>
						</div>
						<div class='row'>
							<div class="col-sm-12">
								<p><%= truncate trend.content, length: 380, separator: ' ' %> <%= link_to "read more...", trend %></p>
							</div>
						</div>

					</div>
				
				</div>
			<% end %>	
		</div>
		<div class="col-md-1"></div>
		</div>
	</div>
</div>

<div class='home-jobs'>
	<div class='container'>
		<div class='row jobs'>
			<h1 class='text-center'><%= link_to "Tech Jobs", jobs_path %></h1><br>
			<% @jobs.each do |job| %>
				<div class="col-sm-3">
					<h3><%=  truncate( job.job_title, length: 25, separator: ' ' ) %></h3>
					<p><%= truncate job.job_details, length: 200, separator: ' ' %></p>
					<%= job.company_name %> | | <%= number_to_currency(job.salary) if job.salary %> <%= job.salary_rate %> | <%= job.employment_type %><br> 
					<%= job.location %>, <%= job.state %>  <%= job.zip_code %> <%= job.country %><br>
					<p><%= link_to "View full job description", job %></p>
			</div>
	<% end %>	
</div>
	</div>
</div>


