
<%= form_for @project, :html => { :multipart => true } do |f| %>
<%= render "shared/errors", object: @project %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name, autofocus: true %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description, cols: 40, rows: 7 %>
  </p>
  <p>
    <%= f.label :looking_for %><br/>
    <%= f.select :looking_for, Project::LOOKING_FOR, prompt: "Select one" %>

  </p>
  <p>
    <%= f.label :teams %><br/>
    <%= f.text_field :teams %>
  </p>
  <p>
    <%= f.label :target_amount %><br/>
    <%= f.number_field :target_amount %>
  </p>
  <p>
    <%= f.label :github_link %><br/>
    <%= f.text_field :github_link %>
  </p>
  <p>
    <%= f.label :web_url %><br/>
    <%= f.text_field :web_url %>
  </p>
  <p>
    <%= f.label :screenshot %><br/>
    <%= f.file_field :screenshot %>
  </p>

  <p>
    <%= f.submit %> | <%= link_to "Cancel", projects_path %>
  </p>
<% end %>
