<!-- <div class='container'>
  <div class='row'>
  <br>
  <div class='col-sm-7'> -->
  <%= form_for @project, :html => { :multipart => true } do |f| %>
    <%= render "shared/errors", object: @project %>
    
      <div class='form-group'>
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, placeholder: "Project title", class: "form-control" %>
      </div>

      
      <div class='form-group'>
        <%= f.label :description %>
        <%= f.text_area :description, cols: 40, rows: 7, placeholder: "Your project description",class: "form-control" %>
      </div>
      
      <div class='form-group'>
        <%= f.label :looking_for %>
        <%= f.select :looking_for, Project::LOOKING_FOR, prompt: "Select one", class: "form-control" %>

      </div>
      
      <div class='form-group'>
        <%= f.label :teams %>
        <%= f.text_field :teams, class: "form-control", placeholder: "Team members" %>
      </div>
      
      <div class='form-group'>
        <%= f.label :target_amount %>
        <%= f.number_field :target_amount, class: "form-control" %>
      </div>
      
      <div class='form-group'>
        <%= f.label :github_link %>
        <%= f.text_field :github_link, class: "form-control", placeholder: "https://" %>
      </div>
      
      <div class='form-group'>
        <%= f.label :web_url %>
        <%= f.text_field :web_url, class: "form-control", placeholder: "http://" %>
      </div>
      
      <div class='form-group'>
        <%= f.label :screenshot %>
        <%= f.file_field :screenshot, class: "form-control" %>
      </div>

      
      <div class='form-group'>
        <%= f.submit class: 'btn btn-info' %> <%= link_to "Cancel", projects_path, class: 'btn btn-default' %>
      </div>
     
    
  <% end %>
 
