<div class="container">
<%= link_to("Add New Project", new_project_path) %>
<%= link_to("Add New Post", new_idea_path) %>

<h1><%= pluralize(@projects.size, 'Project') %></h1>

<% @projects.each do |project| %>
  <article>

    <div class="row">
    <div class="col-md-3">
    <%= image_tag project.screenshot.url(:small) %>
    </div>
    <div class="col-md-8">
    <header>
      <h2><%= link_to project.name, project %></h2>
    </header>
    <p>
      <%= truncate(project.description, length: 40, separator: ' ') %>
    </p>
    <table>
      <tr>
        <th>Looking for:</th>
        <td><%= project.looking_for %></td>
      </tr>
      <tr>
        <th>Github:</th>
        <td><%= project.github_link %></td>
      </tr>
      <tr>
        <th>WebSite:</th>
        <td><%= project.web_url %></td>
      </tr>
      <tr>
        <th>Team Members:</th>
        <td><%= project.teams %></td>
      </tr>
      <tr>
        <th>Target Amount:</th>
        <td><%= project.target_amount %></td>
      </tr>

    </table>
    </div>
    </div>
  </article>
<% end %>
</div>
