<div class="container">
<div class='row'>
<div class='col-md-8'></div>
<div class='col-md-4'>
<h1><%= pluralize(@projects.size, 'Project') %></h1></div>
<% if @projects.any? %>
<% @projects.in_groups_of(2) do |group| %>
<div class='row'>
<% group.each do |project| %>
<% if project %>
<div class='col-md-6'>
<div class='row'>
<div class='col-md-4'>
<br><br>
<%= image_tag project.screenshot.url(:thumb) %></div>
<div class='col-md-8'>
<h3><%= link_to project.name, project %></h3>

<p><%= truncate(project.description, length: 40, separator: ' ') %></p>
<table>
      <tr>
        <th>Looking for:</th>
        <td><%= project.looking_for %></td>
      </tr>
      <tr>
        <th>Github:</th>
        <td><%= project.github_link %></td>
      </tr>
      <tr>
        <th>WebSite:</th>
        <td><%= project.web_url %></td>
      </tr>
      <tr>
        <th>Team Members:</th>
        <td><%= project.teams %></td>
      </tr>
      <tr>
        <th>Target Amount:</th>
        <td><%= project.target_amount %></td>
      </tr>

    </table>
    </div>
    </div>
    </div>
    <% end %>
    <% end %>
    </div>
    <% end %>
    <% end %>
</div>

