<div class="container">
<article>

<%= link_to "All Projects", projects_path %>
  <header>
    <h1><%= @project.name %></h1>
    <%= image_tag @project.screenshot.url(:medium) %>
  </header>
  <h2>Description</h2>
  <p>
    <%= @project.description %>
  </p>
  <h3>Team Members</h3>
  <p>
    <%= @project.teams %>
  </p>
  <h3>Looking For</h3>
  <p>
    <%= @project.looking_for %>
  </p>
  <h3>Target Amount</h3>
  <p>
    <%= number_to_currency(@project.target_amount) %>
  </p>
  <h3>GitHub</h3>
  <p>
    <%= @project.github_link %>
  </p>
  <h3>Website</h3>
  <p>
    <%= @project.web_url %>
  </p>
   <h3>Average Review</h3>
  <p>
    <%= format_average_stars(@project) %>
  </p>




  <nav>


  <%= link_to "All Projects", projects_path %> |
  <%= link_to "Edit", edit_project_path(@project) %> |
  <% if current_user_admin? %>
  <%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: 'Are you sure?' } %> |
<% end %>
</nav>
</article>


 <% if @project.reviews.any? %>
    <h3>Reviews</h3>
    <ol id="reviews">
      <% @project.recent_reviews.each do |review| %>
        <li>
          <span class="review"><%= pluralize(review.stars, 'star') %></span>

          <span class="date">
            <%= time_ago_in_words(review.created_at) %> ago
          </span>
          <p>
            &quot;<%= review.remark %>&quot;
          </p>
        </li>
      <% end %>
    </ol>
    <% end %>
<p>
  Read More Review: &nbsp <%= link_to pluralize(@project.reviews.size, "review"),
            project_reviews_path(@project) %> |
<%= link_to "Review this Project", new_project_review_path(@project), class: 'button ok review' %>
</p>

</div>






