<div class="container">
<div class='row'>
<div class='col-md-2'></div>
<div class='col-md-6'>
<header id="content-header">
  <h1>Check-In for <%= link_to(@idea.title, @idea) %></h1>
</header><br>

<%= form_for([@idea, @checkin]) do |f| %>
<%= render "shared/errors", object: @checkin %>
  <div class='form-horizontal' role='form'>
  <div class="form-group">
  <div class='row'>
  <div class='col-md-3'>
    <%= f.label :skills, class: 'control-label' %></div>
    <div class='col-md-8'>
    <%= f.select :skills, Checkin::SKILLS, prompt: "Select one", class: "form-control" %></div></div><br>
    <div class='row'>
      <div class='col-md-3'>
        <%= f.label :position, class: 'control-label' %></div>
        <div class='col-md-8'>
        <%= f.select :position, Checkin::POSITION, prompt: "Select one", class: "form-control" %></div></div><br>
        <div class='row'>
      <div class='col-md-3'>
        <%= f.label :experience %></div>
        <div class='col-md-8'>
        <%= f.select :experience, Checkin::EXPERIENCE, prompt: "Select one", class: "form-control" %></div></div><br>
        <div class='row'>
      <div class='col-md-3'>
        <%= f.label :comment %></div>
        <div class='col-md-8'>
        <%= f.text_area :comment, cols: 80, placeholder: "You wanna check-in for this project?", class: "form-control" %></div></div><br>
        <div class='row'>
      <div class='col-md-3'></div>
      <div class='col-md-8'>
      <%= f.submit 'Check-In' %>
      <%= link_to "Cancel", @idea, class: 'button' %></div></div>

<% end %>
</div>
</div>
</div>

